.head{
    background-color:rgba(182, 179, 179, 0.616);
    height:  150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left; 
    position: relative;
  
    
    
}
.contenedortl{
    background-color:0;
    width: 50%;
    height: 100%;
    
    float:left;
    margin-left: 56%;
    margin-top: 50px;
    
   
    

}
.logo{
    background-image:url('../imagenes/logo.png') ;
    background-size: contain;
    position: absolute;
    
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
   
}



.titulop{
    background-color:0;
    
    
    color:#B54B02;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
    float: left;
    width: 80%;
    position: absolute;
    
    margin-right: auto;
    margin-left: 40%;


}
.cont{
    width: 31%;
    color:rgb(252, 252, 252);
    height: 100;
    margin-left: 33%;
    margin-right: auto;
    background-color:#B54B02;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    
    
    padding-left: 30px ;
    padding-right: 30px;

    padding-top: 20px;
    text-align: center;
    float:left;


    
    
    
}
body{
   
    background-image: url('/imagenes/pexels-mateusz-dach-450035.png');
    background-size: cover;
    background-repeat: no-repeat;
  
}